.activity-form-container {
    background-color: #718879;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 320px;
}

.activity-form-title {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-size: 24px;
}

.activities-header {
    text-align: center;
    margin-top: 100px;
}

.activity-form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}


.activity-form textarea {
    min-width: 295px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.activity-form input {
    min-width: 295px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.add-activity-button {
    background-color: #dfe7e0;
    margin-top: 10px;
    width: 540px;
    height: 40px;
    border: .5px solid;
    border-radius: 4px;
    cursor: pointer;
    max-width: 320px;
}

.reorder-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.no-activites {
    text-align: center;
    font-size: 25px;
    color: rgb(177, 72, 72);
}