.activity-card-container {
    background-color: #718879;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 320px;
}

.activity-card-title {
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
    font-size: 24px;
}

.activity-card p {
    color: #333333;
    font-size: 16px;
    margin-bottom: 10px;
}

.activity-card-container p strong {
    font-weight: bold;
    color: #000000;
}

.activity-card-container button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: 0.5px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}