.trip-card-container {
    flex: 1 1 300px;
    box-sizing: border-box;
    margin: 10px;
    max-width: 300px;
}

.trip-card {
    background-color: #708676;
    border: 1px solid;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(107, 77, 77, 0.1);
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    overflow: hidden;
}

.trip-card-title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.trip-card button {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: .5px solid;
    border-radius: 4px;
    cursor: pointer;
}

.trip-card-button {
    background-color: rgb(233, 233, 233);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 32px;
    margin: 4px 2px;
    width: 100%;
}